# Getting all that we need from the wikipedia table

In this notebook, I'm going to extract all the information needed for the capstone project from this wikipedia page: https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

I'm going to download the page using the requests library and then read the table with pandas read_html

In [2]:
import requests
import pandas as pd

In [3]:
source=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

<font color=blue> In order to avoid any problems with encoding, let's enconde it with the encode string method, then we going to open a file in binary mode to write it</font>

In [10]:
b_text=source.encode()

In [12]:
with open('wiki.html', 'wb') as wiki:
    wiki.write(b_text)

<font color=blue> Now let's use pandas to read the table from the downlaoded page</font>

In [15]:
df=pd.read_html('wiki.html')[0]
df.head()

,0,1,2,3,4,5,6,7,8
0,M1ANot assigned,M2ANot assigned,M3ANorth York(Parkwoods),M4ANorth York(Victoria Village),M5ADowntown Toronto(Regent Park / Harbourfront),M6ANorth York(Lawrence Manor / Lawrence Heights),M7AQueen's Park / Ontario Provincial Government,M8ANot assigned,M9AEtobicoke(Islington Avenue)
1,M1BScarborough(Malvern / Rouge),M2BNot assigned,M3BNorth York(Don Mills)North,M4BEast York(Parkview Hill / Woodbine Gardens),"M5BDowntown Toronto(Garden District, Ryerson)",M6BNorth York(Glencairn),M7BNot assigned,M8BNot assigned,M9BEtobicoke(West Deane Park / Princess Garden...
2,M1CScarborough(Rouge Hill / Port Union / Highl...,M2CNot assigned,M3CNorth York(Don Mills)South(Flemingdon Park),M4CEast York(Woodbine Heights),M5CDowntown Toronto(St. James Town),M6CYork(Humewood-Cedarvale),M7CNot assigned,M8CNot assigned,M9CEtobicoke(Eringate / Bloordale Gardens / Ol...
3,M1EScarborough(Guildwood / Morningside / West ...,M2ENot assigned,M3ENot assigned,M4EEast Toronto(The Beaches),M5EDowntown Toronto(Berczy Park),M6EYork(Caledonia-Fairbanks),M7ENot assigned,M8ENot assigned,M9ENot assigned
4,M1GScarborough(Woburn),M2GNot assigned,M3GNot assigned,M4GEast York(Leaside),M5GDowntown Toronto(Central Bay Street),M6GDowntown Toronto(Christie),M7GNot assigned,M8GNot assigned,M9GNot assigned

In [119]:
new_df=pd.DataFrame(columns=['Postal Code', 'Borough', 'Neighborhood'])

In [121]:
def struct_fine(txt, new_df):
    try:
        txt_list=txt.split('(')
        post_code=txt_list[0][0:3]
        borough=txt_list[0][3:]
        neighs=txt_list[1].split('/')
        neighs[-1]=neighs[-1][0:-2]
        for neigh in neighs:
            row={'Postal Code': post_code, 'Borough': borough, 'Neighborhood': neigh}
            new_df=new_df.append(row, ignore_index=True)
    except:
        pass
        
    return new_df

<font color=blue> Now we will need to split the cells in code post, neyborhood end borough. To acomplish that, I'm going to use regular expressions</font>

In [122]:
for r,c in df.iterrows():
    for i, el in c.iteritems():
        new_df=struct_fine(el, new_df)

In [123]:
new_df['Neighborhood']=new_df['Neighborhood'].str.strip()

In [124]:
new_df

    Postal Code           Borough              Neighborhood
0           M3A        North York                  Parkwood
1           M4A        North York           Victoria Villag
2           M5A  Downtown Toronto               Regent Park
3           M5A  Downtown Toronto               Harbourfron
4           M6A        North York            Lawrence Manor
..          ...               ...                       ...
209         M8Z         Etobicoke                 Mimico NW
210         M8Z         Etobicoke        The Queensway West
211         M8Z         Etobicoke            South of Bloor
212         M8Z         Etobicoke  Kingsway Park South West
213         M8Z         Etobicoke      Royal York South Wes

[214 rows x 3 columns]

## Getting Latitude and Longitude coordinates for the postal codes

I'm going to use the geocoder library and there is a limit in the number of calls I can do with it, so I'll create a dataframe with the postal codes and the correspoding latitude and longitudo, so I can use it and wont run the risk of getting out of calls.

In [108]:
import geocoder # import geocoder

def get_coord(postal_code):
    # initialize variable to None
    lat_lng_coords = None

    # loop until you get the coordinates
    while(lat_lng_coords is None):
      g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
      lat_lng_coords = g.latlng

    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude, longitude

In [111]:
postal_codes=new_df['Postal Code'].unique()
postal_codes

array(['M3A', 'M4A', 'M5A', 'M6A', 'M9A', 'M1B', 'M3B', 'M4B', 'M5B',
       'M6B', 'M9B', 'M1C', 'M3C', 'M4C', 'M5C', 'M6C', 'M9C', 'M1E',
       'M4E', 'M5E', 'M6E', 'M1G', 'M4G', 'M5G', 'M6G', 'M1H', 'M2H',
       'M3H', 'M4H', 'M5H', 'M6H', 'M1J', 'M2J', 'M3J', 'M4J', 'M5J',
       'M6J', 'M1K', 'M2K', 'M3K', 'M4K', 'M5K', 'M6K', 'M1L', 'M2L',
       'M3L', 'M4L', 'M5L', 'M6L', 'M9L', 'M1M', 'M2M', 'M3M', 'M4M',
       'M5M', 'M6M', 'M9M', 'M1N', 'M2N', 'M3N', 'M4N', 'M5N', 'M6N',
       'M9N', 'M1P', 'M2P', 'M4P', 'M5P', 'M6P', 'M9P', 'M1R', 'M2R',
       'M4R', 'M5R', 'M6R', 'M7R', 'M9R', 'M1S', 'M4S', 'M5S', 'M6S',
       'M1T', 'M4T', 'M5T', 'M1V', 'M4V', 'M5V', 'M8V', 'M9V', 'M1W',
       'M4W', 'M5W', 'M8W', 'M9W', 'M1X', 'M4X', 'M5X', 'M8X', 'M4Y',
       'M7Y', 'M8Y', 'M8Z'], dtype=object)

In [114]:
postal_codes.shape

(102,)

In [113]:
import time

In [ ]:
lls=[]
for postal_code in postal_codes:
    time.sleep(0.5)
    lls.append(get_coord(postal_code))

Well, I tried, but the server is not working, so I'll use the csv

In [134]:
lls=pd.read_csv('Geospatial_Coordinates.csv')
lls.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [132]:
new_df['Latitude']=''
new_df['Longitude']=''

In [178]:
postal_code=new_df.loc[0,'Postal Code']
lls.loc[lls['Postal Code']=='M1G']['Latitude'].values[0]

43.7709921

In [182]:
for i, row in new_df.iterrows():
    postal_code=new_df.loc[i,'Postal Code']
    #print(postal_code)
    new_df.loc[i,'Latitude']=lls.loc[lls['Postal Code']==postal_code]['Latitude'].values[0]
    new_df.loc[i,'Longitude']=lls.loc[lls['Postal Code']==postal_code]['Longitude'].values[0]

In [184]:
new_df.head()

  Postal Code           Borough     Neighborhood Latitude Longitude
0         M3A        North York         Parkwood  43.7533  -79.3297
1         M4A        North York  Victoria Villag  43.7259  -79.3156
2         M5A  Downtown Toronto      Regent Park  43.6543  -79.3606
3         M5A  Downtown Toronto      Harbourfron  43.6543  -79.3606
4         M6A        North York   Lawrence Manor  43.7185  -79.4648

In [185]:
new_df.to_csv('assignment_csv.csv')